In [ ]:
import sqlalchemy

engine = sqlalchemy.create_engine('postgresql://py_49:password@localhost:5432/music_web')
engine
connection = engine.connect()

Заполнем таблицу "musician"

In [9]:
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(1, 'Сплин');
""")

In [10]:
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(2, 'БИ-2');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(3, 'Gorky Pak');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(4, 'Bon Jovi');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(5, 'Scorpions');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(6, 'Wiz Khalia');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(7, '50 cent');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(8, 'Каста');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(9, 'Лигалайз');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(10, 'Многоточие');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(11, 'Louis Armstrong');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(12, 'Imagine Dragons');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(13, 'Strome');
""")
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES(14, 'Bob Marley');
""")

Заполнем таблицу "album"

In [11]:
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(1, 'Передайте это Гарри Поттеру, если вдруг его встретите', '2020');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(2, 'Бог пролятых', '2020');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(3, 'Moscow Calling', '1993');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(4, 'The Ultimate Collection', '2010');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(5, 'Comeblack', '2011');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(6, 'Rolling Papes', '2021');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(7, 'Best of 50 cent', '2018');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(8, 'Быль в глаза', '2008');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(9, 'XL', '2007');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(10, 'Жизнь и свобода', '2001');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(11, 'What A Wonderfil World', '1968');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(12, 'The Very Best Of Louis Armstrong', '1998');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(13, 'Bones', '2022');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(14, 'Multitde', '2022');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(15, '40 Golden Masters', '2009');
""")
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES(16, 'Catch A Fire', '1973');
""")

Заполнем таблицу "genre"

In [12]:
connection.execute("""INSERT INTO genre(id_genre, name_genre)
            VALUES(1, 'Rock');
""")
connection.execute("""INSERT INTO genre(id_genre, name_genre)
            VALUES(2, 'Rap');
""")
connection.execute("""INSERT INTO genre(id_genre, name_genre)
            VALUES(3, 'Jazz');
""")
connection.execute("""INSERT INTO genre(id_genre, name_genre)
            VALUES(4, 'Pop music');
""")
connection.execute("""INSERT INTO genre(id_genre, name_genre)
            VALUES(5, 'Reggae');
""")

Заполнем таблицу "track"

In [15]:
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(1, 1, 'Передайте это Гарри Поттеру, если вдруг его встретите', 5.24);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(2, 2, 'Бог пролятых', 3.17);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(3, 3, 'Moscow Calling', 5.10);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(4, 4, 'It`s My Life', 3.43);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(5, 5, 'Still Loving You', 6.43);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(6, 6, 'Black And Yellow', 3.37);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(7, 7, 'In Da Club', 3.47);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(8, 8, 'Воруг шум', 3.33);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(9, 9, 'Будующие мамы', 4.10);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(10, 10, 'В жизни так бывает', 4.27);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(11, 11, 'What A Wonderful World', 2.19);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(12, 12, 'I Still Get Jealous', 2.09);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(13, 13, 'Bones', 2.45);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(14, 14, 'L`enfer', 3.09);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(15, 15, 'Sun Is Shining', 2.18);
""")
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES(16, 16, 'Stir It Up', 3.39);
""")

Заполнем таблицу "collection"

In [16]:
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES(1, '100 хитов русского рока', 2022);
""")
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES(2, 'Вечный рок', 2021);
""")
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES(3, 'Идеальный бит', 2019);
""")
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES(4, 'Вечные хиты руссого рэпа', 2021);
""")
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES(5, 'Звезды джаза', 2021);
""")
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES(6, 'Топ распознаваний', 2022);
""")
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES(7, 'Солнечный остров: музыка Ямайки', 2018);
""")

Заполнем таблицу "collection_track"

In [17]:
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(1, 1, 1);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(2, 1, 2);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(3, 2, 3);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(4, 2, 4);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(5, 2, 5);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(6, 3, 6);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(7, 3, 7);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(8, 4, 8);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(9, 4, 9);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(10, 4, 10);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(11, 5, 11);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(12, 5, 12);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(13, 6, 13);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(14, 6, 14);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(15, 7, 15);
""")
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES(16, 7, 16);
""")

Заполнем таблицу "musician_album"

In [18]:
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(1, 1);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(2, 2);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(3, 3);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(4, 4);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(5, 5);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(6, 6);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(7, 7);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(8, 8);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(9, 9);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(10, 10);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(11, 11);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(11, 12);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(12, 13);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(13, 14);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(14, 15);
""")
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES(14, 16);
""")

Заполнем таблицу "musician_genre"

In [19]:
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(1, 1);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(2, 1);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(3, 1);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(4, 1);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(5, 1);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(6, 2);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(7, 2);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(8, 2);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(9, 2);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(10, 2);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(11, 3);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(12, 4);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(13, 4);
""")
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES(14, 5);
""")